.button-light {
  font-size: 1.25em;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: hsla(0, 0%, 100%);
}

.button-light:hover {
  background-color: hsla(0, 0%, 90%);
}

.button-dark {
  font-size: 1.25em;
  padding: 0.5rem;
  border: 1px solid rgb(92, 92, 92);
  background-color: hsla(0, 0%, 10%);
}

.button-dark:hover {
  background-color: hsla(0, 0%, 20%);
}
