.button-light {
  font-size: 1.25em;
  padding: 0.5rem;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.button-light:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.button-dark {
  font-size: 1.25em;
  padding: 0.5rem;
  border: 1px solid rgb(92, 92, 92);
  background-color: rgba(128, 128, 128, 0.3);
  transition: all 0.2s;
}

.button-dark:hover {
  background-color: rgba(128, 128, 128, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
