.button[data-mode='light'] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: hsla(0, 0%, 100%);
}

.button[data-mode='light']:hover {
  background-color: hsla(0, 0%, 90%);
}

.button[data-mode='dark'] {
  color: hsl(0, 0%, 90%);
  font-weight: 400;
  padding: 0.5rem;
  border: 1px solid rgb(92, 92, 92);
  background-color: hsl(0, 0%, 100%, 10%);
}

.button[data-mode='dark']:hover {
  background-color: hsl(0, 0%, 100%, 20%);
}

.button[data-mode='primary'] {
  color: #fff;
  padding: 0.5rem;
  background-color: hsl(210, 79%, 46%);
}

.button[data-mode='primary']:hover {
  background-color: hsl(207, 90%, 60%);
}

.button[data-mode='secondary'] {
  color: #fff;
  padding: 0.5rem;
  background-color: hsl(0, 65%, 51%);
}

.button[data-mode='secondary']:hover {
  background-color: hsl(1, 83%, 63%);
}
