.container {
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
}

.container[data-mode='light'] {
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 80%);
}
.container[data-mode='light']:hover {
  background-color: hsl(0, 0%, 85%);
  border: 1px solid hsl(0, 0%, 80%);
}

.container[data-mode='dark'] {
  background-color: hsl(0, 0%, 30%);
  border: 1px solid hsl(0, 0%, 40%);
}

.container[data-mode='dark']:hover {
  background-color: hsl(0, 0%, 40%);
}

.head {
  display: flex;
  align-items: center;
  justify-content: stretch;
  grid-template-columns: 1em 1fr;
  gap: 0.5em;
  min-height: 100%;
}

.body {
  padding: 0.5em 0;
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  padding: 0.5em;
}
