* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.2s;
}

*:focus {
  outline: none;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}
